.team-member {
   transition: transform 0.3s ease-in-out;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .team-member:hover {
   transform: scale(1.1);
 }

 .content-container {
   display: flex;
   gap: 80px;
   align-items: center;
 }
 
 @media screen and (max-width: 768px) {
   .content-container {
     flex-direction: column;
     text-align: center; 
     gap:10px;
   }
   #page-logo{
      height: 200px;
      width: 270px;
   }
 }