.footer> *
{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: 0;
    height: 60px;
    background-color: #15191F;
}
.footer> a:hover{
    color: #fff;
}
